<div class="container pt-3">
  <div class="d-flex align-items-end" >
    <div class="w-25 "><h4 class="fw-bolder">いいねした記事</h4></div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      <div class="row">
        <% if @like_articles.present? %>
          <%= render @like_articles %>
        <% else %>
          <p>投稿はありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>