<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>新規投稿</h1>
      <%= render 'form', { article: @article } %>
    </div>
    <div class="col-lg-8 offset-lg-2 pt-5">
      <h1>CSVファイルをインポートする</h1>
      <%= form_tag import_articles_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "インポート" %>
      <% end %>
    </div>
  </div>
</div>
