<div class="container pt-3">
  <%= render 'articles/topics_navar' %>
  <!-- 掲示板一覧 -->
  <div class="row pt-4">
    <div class="col-12">
      <div class="row">
        <% if @introduction_articles.present? %>
          <%= render partial: 'articles/article', collection: @introduction_articles %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>